.container {
  padding: 40px;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.poster {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
