/* ===== CARTÃO FIXO — NÃO INTERFERE NO CARTÃO DINÂMICO ===== */

.destaque-filme-fixo {
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  background: #000;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 100%;
  margin: 20px auto; /* Centraliza o card na página */

  .poster-filme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .infos-filme {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00000000, #1a1717 90%);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;

    .filme-titulo {
      color: #eaeced;
      font-size: 14px;
      margin-bottom: 6px;
    }

    .descrição {
      color: #eaeced;
    }

    .hidden-content {
      color: #ffffff;
      font-size: 12px;
      margin-top: 8px;
      height: 0;
      opacity: 0;
      transition: all .6s;

      .btn-default {
        background-color: var(--vermelho);
        padding: 6px 8px;
        border-radius: 4px;
        margin-top: 10px;
        color: #fffefe;
        border: none;
        cursor: pointer;
        width: 100%;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .poster-filme img {
      opacity: 0.5;
    }

    .hidden-content {
      opacity: 1;
      height: 100px;
    }

    .infos-filme:has(.descrição) .hidden-content {
      height: 100px;
    }

    .infos-filme:not(:has(.descrição)) .hidden-content {
      height: 50px;
    }
  }
  margin-left: 110px;
}
