@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.cabecalho {
    width: 100%;
    height: 100%;
    background-color: var(--bege);
    display: flex;
    align-items: center;
}

.cabecalho a {
    color: var(--preto);
    font-family: Oswald;
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    white-space: nowrap;
}

.imgLogo,
.imgLogo img {
    height: 100%;
    width: 85px;
    height: 85px;
    margin-left: 9px;
}

nav ul {
    display: flex;
    gap: 70px;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

nav ul li img {
    width: 30px;
    height: auto;
}

.direita {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botaoLogout {
    background-color: var(--vermelho);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.botaoLogout:hover {
    background-color: #96190b;
}

.navLinks ul {
    display: flex;
    gap: 70px;
    padding: 0;
    list-style: none;
}