.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background: var(--creme);
  color: white;
  min-height: 100vh;
}

.poster {
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  color: var(--vermelho);
  margin-top: 1.2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.card {
  background: #2b2b2b;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s;
  text-align: center;
  min-width: 80px;
}

.card:hover {
  background: #3a3a3a;
  transform: scale(1.05);
}

.selecionado {
  background: #efb810;
  color: black;
  border-color: white;
}

.botaoCompra {
  margin-top: 1rem;
  background: var(--vermelho);
  color: var(--branco);
  font-family: Oswald;
  font-weight: lighter;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  padding: 6px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.botaoCompra:hover {
  background: #efb810;
}
