:root {
  --vermelho: #6D0202;
  --bege: #BEB299;
  --creme: #E4DED2;
  --branco: #FFFFFF;
  --preto: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--creme);
}